{% include head-dark.html %}

      <style>
        @media only screen and (max-width: 680px) {
          .archive-wrap {
            padding: 80px 20px 20px 20px !important;
            width: 100% !important;
            max-width: 100% !important;
          }
          .archive-wrap figure {
            width: 50% !important;
            margin: 0 auto 20px auto !important;
          }
          .archive-wrap figure img {
            margin-left: 0 !important;
          }
          .archive-wrap .post-list {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 0 !important;
          }
          .archive-wrap .post-list lh,
          .archive-wrap .post-list lh h2 {
            text-align: center !important;
          }
          .archive-wrap .post-list p {
            text-align: center !important;
          }
          .archive-wrap .cta {
            margin: 10px 8px !important;
          }
        }
      </style>

      <section class=" ">

        <article class="archive-wrap">
            <figure>
              <img src="/images/me.jpg" alt="Picture of Kevin Bluett looking into the distance">
            </figure>
            <ol class="post-list">
               <lh><h2><span class="bb">About Me</span></h2></lh>
                <p>CEO & Co-Founder building something new in AI. Previously spent a decade at <a href="https://www.hubspot.com">HubSpot</a> where I grew from IC to Director of Engineering, leading 30+ engineers.<br /><br />At my core, my true happy place is building. Currently building the future of systems of action.</p>
                <div style="text-align: center; margin-top: 1em;">
                    <a class="cta" href="https://www.linkedin.com/in/kevinbluett">LinkedIn</a> <a class="cta" href="https://medium.com/@kevinbluett/the-era-of-systems-of-action-5be8012827fc">Writing</a> <a class="cta" href="http://www.github.com/kevinbluett">GitHub</a>
                </div>
            </ol>
        </article>
      </section>
    {% comment %} <div id=''>
        <section class="article archive">
          <article class="archive-wrap archive-less-padding">
              <ol class="post-list">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        {% comment %}<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endcomment %}
                        <p></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>
    {% endcomment %}
{% include footer.html %}
