{% include head-dark.html %}

      <section class=" ">

        <article class="archive-wrap">
            <figure>
              <img src="/images/me.jpg">
            </figure>
            <ol class="post-list">
               <lh><h2><span class="bb">Who am I?</span></h2></lh>
                <p>I'm Kevin Bluett, a 22 year old graduate of Computer Science, who has dabbled in the start-ups and has a rather extreme love (addiction?) of coffee!</p>
                <a class="cta" href="http://www.kevinbluett.ie/pdf/kevin-bluett-cv.html">About Me</a><a class="cta" href="http://www.github.com/kevinbluett">GitHub Profile</a><a class="cta" href="mailto:hello@kevinbluett.ie">Contact Me</a>
            </ol>
        </article>
      </section>
    <div id=''>
        <section class="article archive">
          <article class="archive-wrap archive-less-padding">
              <ol class="post-list">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}