{% include head-dark.html %}

      <section class=" ">

        <article class="archive-wrap">
            <figure>
              <img src="/images/me.jpg" alt="Picture of Kevin Bluett looking into the distance">
            </figure>
            <ol class="post-list">
               <lh><h2><span class="bb">About Me</span></h2></lh>
                <p>Engineering Group Lead at <a href="https://www.hubspot.com">HubSpot</a>, who has dabbled in the start-ups/companies and has a rather extreme love (addiction?) of coffee!<br /><br /> Currently a living in Dublin, Ireland.</p>
                <a class="cta" href="https://www.linkedin.com/in/kevinbluett">LinkedIn</a> <a class="cta" href="http://www.github.com/kevinbluett">GitHub</a><a class="cta" href="mailto:kevin@bluett.io">Contact Me</a>
            </ol>
        </article>
      </section>
    {% comment %} <div id=''>
        <section class="article archive">
          <article class="archive-wrap archive-less-padding">
              <ol class="post-list">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        {% comment %}<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endcomment %}
                        <p></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>
    {% endcomment %}
{% include footer.html %}
